$mainbackgroundcolor: lightblue;

$authbackroundcolor: skyblue;

$btncolor: black;

$btnhover: magenta;

$gamehubfont: "Lucida Console", Courier, monospace;

$gamehubstyle: italic;

$gamehubweight: 700;

$gamehubsize: 6vw;