@import "./variables";
@import "./header";

* {
  padding: 0;
  margin: 0;
}

.Auth {
  background-color: $mainbackgroundcolor;
  height: 100vh;
  width: 100vw;
}

.smallAuth {
  @include flexCenter();
  height: 100vh;
  width: 100vw;
}

.smallInteract {
  height: 48vh;
  width: 48vw;
  border: solid black 1px;
  border-radius: 1rem;
  background-color: $authbackroundcolor;
  @include flexCenter();
  flex-direction: column;
  box-shadow: 0.25rem 0.5rem #888888;
  button {
    background-color: $btncolor;
    color: $mainbackgroundcolor;
    border-radius: 0.5rem;
    height: 4vh;
    width: 10vw;
    &:hover {
        background-color: $btnhover;
    }
    p {
      font-size: 1.5vw;
    }
  }
}

.smallGameHub {
  font-family: $gamehubfont;
  font-style: $gamehubstyle;
  font-weight: $gamehubweight;
  font-size: $gamehubsize;
}

.smallAuthBtns {
  width: 25rem;
  @include flexCenter();
}

@media (max-width: 900px) {
  .bigAuth {
    display: none;
  }
}

@media (min-width: 901px) {
  .smallAuth {
    display: none;
  }
}

.bigAuth {
  height: 100vh;
  width: 100vw;
}

.bigGameHub {
  font-family: $gamehubfont;
  font-style: $gamehubstyle;
  font-weight: $gamehubweight;
  font-size: $gamehubsize;
}

.bigAuthInputs {
  @include flexCenter();
  height: 10vh;
  width: 40vw;
}

.bigAuthBtns {
  @include flexCenter();
  height: 10vh;
  margin-right: 10vw;
}

.bigRegisterBtn {
  margin-left: 3vw;
}

.about {
  @include flexCenter();
  height: 84vh;
  width: 100vw;
  font-size: 2rem;
  font-weight: 500;
  word-wrap: normal;
}

.text {
  @include flexCenter();
  border: black 1px;
  height: 80vh;
  width: 50vw;
}
