@import "./variables";
@import "./header";

* {
  padding: 0;
  margin: 0;
}

.Auth {
  background-color: $mainbackgroundcolor;
  height: 100vh;
  width: 100vw;
}

.smallAuth {
  @include flexCenter();
  height: 100vh;
  width: 100vw;
}

.smallInteract {
  height: 48vh;
  width: 48vw;
  border: solid black 1px;
  border-radius: 1rem;
  background-color: $authbackroundcolor;
  @include flexCenter();
  flex-direction: column;
  box-shadow: 0.25rem 0.5rem #888888;
  @include btnHandle();
}

.smallGameHub {
  @include gameHub();
}

.smallAuthBtns {
  width: 18rem;
  justify-content: space-evenly;
  @include flexCenter();
}

.bigAuth {
  height: 100vh;
  width: 100vw;
}

.bigGameHub {
  @include gameHub();
}

.bigAuthInputs {
  @include flexCenter();
  height: 10vh;
  width: 40vw;
}

.bigAuthBtns {
  @include flexCenter();
  height: 10vh;
  width: 25vw;
  margin-right: 10vw;
}

.about {
  @include flexCenter();
  height: 84vh;
  width: 100vw;
  font-size: 2rem;
  font-weight: 500;
  word-wrap: normal;
}

.text {
  @include flexCenter();
  border: black 1px;
  height: 80vh;
  width: 50vw;
}

@media (max-width: 900px) {
  .bigAuth {
    display: none;
  }
}

@media (min-width: 901px) {
  .smallAuth {
    display: none;
  }
}