@import "../../styles/variables";

.bigAccount,
.bigMessageContainer {
  background-color: $mainbackgroundcolor;
  min-height: 84vh;
}

.smallAccount,
.smallMessageContainer{
  background-color: $mainbackgroundcolor;
  @include smallPosition();
}

.smallMessageContainer,
.bigMessageContainer {
  @include flexCenter();
}

.posts {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.smallMessage{
  position: absolute;
  right: 5vw;
}

@media (max-width: 900px) {
  .bigAccount,
  .bigMessage,
  .bigMessageContainer{
    display: none;
  }
}

@media (min-width: 901px) {
  .smallAccount,
  .smallMessage,
  .smallMessageContainer{
    display: none;
  }
}