@import "../../styles/variables";

.bigHome {
  background-color: $mainbackgroundcolor;
}

.homePicture {
  height: 33vh;
  width: 33vw;
}

.smallHome{
  background-color: $mainbackgroundcolor;
  height: 760vh;
  @include smallPosition();
}

@media (max-width: 900px) {
  .bigHome{
    display: none;
  }
}

@media (min-width: 901px) {
  .smallHome{
    display: none;
  }
}