@import "../../styles/header";
@import "../../styles/variables";

.navGameHub {
  @include gameHub();
}

.smallNav {
  position: fixed;
  @include flexCenter();
  flex-direction: column;
  height: 100vh;
  width: 20vw;
  background-color: $authbackgroundcolor;
  border-right: solid black .5vw;
  @include btnHandle();
    h2 {
      font-size: 5vw;
    }
  }
}

@media (max-width: 900px) {
  .bigNav{
    display: none;
  }
}

@media (min-width: 901px) {
  .smallNav{
    display: none;
  }
}